@model FoodFinder.Web.Model.Venue

<div class="container">
<h1>@Model.Title</h1>
<p>
    @Model.Detail
</p>
<div>
    @Model.PriceLevel
</div>

<address>
    @Model.Street <br/>
    @Model.ZipCode @Model.City <br/>
    @Model.State <br/>
    @Model.Country
</address>

<span class="glyphicon glyphicon-phone"></span>@Model.Phone
<span class="glyphicon glyphicon-envelope"></span>@Model.Email



<div class="h2">Menu</div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Namer</th>
            <th>Price</th>
        </tr>
        <tr>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var menuItem in @Model.MenuItems)
        {
            <tr>
                <td>@menuItem.Title</td>
                <td>@menuItem.Price</td>
            </tr>
            <tr>
                <td>@menuItem.Detail</td>

            </tr>
        }
        </tbody>
    </table>

    @foreach (var review in @Model.Reviews)
    {

        <blockquote class="blockquote">
            <div class="h3 ">@review.Title <small>
                @if (@review.Stars >= 1)
                {
                    <span class="glyphicon glyphicon-star"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-star-empty"></span>
                }
                @if (@review.Stars >= 2)
                {
                    <span class="glyphicon glyphicon-star"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-star-empty"></span>
                }
                @if (@review.Stars >= 3)
                {
                    <span class="glyphicon glyphicon-star"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-star-empty"></span>
                }
                @if (@review.Stars >= 4)
                {
                    <span class="glyphicon glyphicon-star"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-star-empty"></span>
                }
                @if (@review.Stars >= 5)
                {
                    <span class="glyphicon glyphicon-star"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-star-empty"></span>
                }
                </small>
            </div>

            <p>@review.Detail</p>
            <footer >@review.Author</footer>

        </blockquote>
    }

</div>